*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$text-color: #2d56a0;

.ttl-content {
  color: $text-color;
  text-align: center;
}

.footer {
  color: white;
  background-color: $text-color;
  &-txt {
    text-align: center;
    margin-top: 1rem;
  }
}
