@import "@/assets/scss/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  margin: 6rem 0 4rem 0;
  color: $secondary;

  .ttl {
    font-weight: bold;
  }
}

.ttl-content {
  color: $secondary;
  text-align: center;

  .txt {

    &::after,
    &::before {
      margin: 0 0.25rem;
      content: "-";
    }
  }
}
