$secondary: #2d56a0;
$navbar-light-color: #2D56A0;
$notion-gray: rgba(151, 154, 155, 0.5);
$notion-brown: rgba(147, 114, 100, 0.5);
$notion-orange: rgba(255, 163, 68, 0.5);
$notion-yellow: rgba(255, 220, 73, 0.5);
$notion-green: rgba(77, 171, 154, 0.5);
$notion-blue: rgba(0, 120, 223, 0.2);
$notion-purple: rgba(154, 109, 215, 0.5);
$notion-pink: rgba(226, 85, 161, 0.5);
$notion-red: rgba(255, 115, 105, 0.5);
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
