.heaader {
  &__logo {
    &-img {
      height: 32px;
    }
  }
}

.nav-item {
  .nav-item {
    .nav-item {
      a {
        color: #fff !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .heaader {
    &__logo {
      &-img {
        height: 27px;
      }
    }
  }
}